root {
    display: block;
}
.root {
    -fx-background-color: #ececec;
}
.label {
    -fx-padding: 5px;
    -fx-background-color: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #17a2b8;
}

#package-button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #007bff;
}

#verify-button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #28a745;
}

#messages{
    -fx-padding: 20px;
    -fx-background-color: #ffffff;
}
#systemOut{
    -fx-padding: 20px;
    -fx-background-color: #ffffff;
}
